.etl-particle-fss .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
	margin:0;
	padding:0;
	 &.zindex1 {
        z-index: -1;
    }
	 &.zindex0 {
        z-index: 0;
    }
	&.zindex101 {
        z-index: 101;
    }
	&.zindex1001 {
        z-index: 10001;
    }
}


.etl-particle-fss .container canvas {max-height:100%;}
.etl-particle-fss .container .height100 canvas {height:100% !important;}


@media (min-width: 576px) {
  .etl-particle-fss .container {
    max-width: 100% !important;
  }
}

@media (min-width: 768px) {
  .etl-particle-fss .container{
    max-width: 100% !important;
  }
}

@media (min-width: 992px) {
  .etl-particle-fss .container {
    max-width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .etl-particle-fss .container {
    max-width: 100% !important;
  }
}

@media (min-width: 1400px) {
  .etl-particle-fss .container {
    max-width: 100% !important;
  }
}
